div.relative {
    position: relative;
    width: 100%;
    height: 100%;
    border: 3px solid #73AD21;
  }
   img{
    position: absolute;
    top: 60px;
    right: 25;
    width: 250px;
    height: 250px;
  
  }
  .para1{
    text-align: justify;
    font-size: 20px;
    line-height:30px;
    padding:10px;
    margin:0;
    margin-right: 300px;

  }
  .para2{
    text-align: justify;
    font-size: 20px;
    line-height:30px;
    padding:10px;
    margin:0;

  }
 
 